body{
    position: relative;
    font-family: 'livvic', sans-serif;
    background-color: rgb(241, 241, 241);
    margin: 0;
    padding: 0;
}
.cont{
    position: relative;
}
.logo{
    font-size: 32px;
    position: absolute;
    top: 8%;
    left: 07%;
}
nav{
    position: relative;
    color: orange;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}
.botao, .car, .profile {
    position: absolute;
    top: 10.5%;
    margin-left: auto;
}    
.retan{
    position: absolute;
    top: 9.5%;
    border: 2px solid chocolate;
    left: 30.5%;
    width: 800px;
    height: 65px;
    background-color: aliceblue;
    border-radius: 40px;
}
.botao{
    position: absolute;
    left: 67%;
}
.car{
    position: absolute;
    width: 06%;
    height: auto;
    left: 79%;
}
.profile{
    position: absolute;
    left: 90%;
    width: 04%;
    height: auto;
}
.tela{
    box-shadow: inset 0px 100px 100px hsla(0, 0%, 5%, 0.7);
    background-image: url('img/bloco2.jpg');
    background-size: cover;
    background-position: center;
    border-bottom: 2px solid chocolate;
    margin: 0;
    padding: 0;
    width: 2400%;
    height: 450px;
    z-index: -1;
}
.retan1{
    position: absolute;
    top: 1600px;
    width: 1920px;
    height: 300px;
    background-color: rgb(26, 26, 26);
    background-size: cover;
    background-position: center;
}
.klau{
    position: absolute;
    top: 32%;
    left: 05%;
    font-size: 20px;
    width: 400px;
    color: aliceblue;
    font-weight: bold;
    z-index: 1;
    line-height: 1.7;
}
.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr); /*3 colunas iguais*/
    grid-template-rows: repeat(2, 100px); /* 2 linhas de 100px */
    gap: 400px 20px;
    padding: 0px;
    margin-top: 3%;
    margin-left: 07%;
}
.grid-item{
    width: 300px;
    height: auto;
} 



